body{
  background-color: #FFFFFF;
}

.text{
  font-family: "Arial";
  text-align: center;
}

.textSmall{
  font-size: 15px;
}

.iconText{
  padding: 15px;
}

.title{
  font-size: 50px;
  margin-top: 40px;
  opacity: 0.9;
}

.icon{
  transition: opacity 0.28s ease;
  opacity: 0.7;
  color: #000000;
  margin: 30px;
}

.icon:hover{
  opacity: 0.9;
}

.tooltip{
  display: inline;
  position: relative;
}

.tooltip:after{
  background: #333;
  background: rgba(0, 0, 0, 1);
  border-radius: 5px;
  color: #fff;
  font-family: Arial;
  content: attr(tooltiptext);
  left: 0%;
  bottom: -200%;
  transform: translateY(-10%);
  padding: 5px 0;
  position: absolute;
  z-index: 98;
  width: 100%;
  opacity: 0;
  transition: opacity 0.28s, transform 0.2s ease;
}

.tooltip:hover:after {
  opacity: 1;
  transform: translateY(30%);
}

@media(max-width: 640px) {
  .tooltip:after {
    opacity: 1;
    transform: translateY(30%);
    transition: transform 0;
  }
}